## Grouping Data & Aggregating Variables

#### Content
1. Grouping data
2. Merging databases

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#importing the data set for orders and products
ords_prods_merge=pd.read_pickle(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_busy.pkl')

In [3]:
ords_prods_merge.groupby('department_id').order_number.mean()

department_id
1     15.380615
2     16.713687
3     17.297990
4     17.765018
5     15.171645
6     16.385084
7     17.374422
8     15.241590
9     16.044532
10    20.312470
11    16.488755
12    15.885396
13    16.728736
14    16.859136
15    16.121300
16    17.648107
17    15.984054
18    19.378223
19    17.304395
20    16.439862
21    22.355852
Name: order_number, dtype: float64

In [4]:
ords_prods_merge.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
1                15.380615   1  99
2                16.713687   1  99
3                17.297990   1  99
4                17.765018   1  99
5                15.171645   1  99
6                16.385084   1  99
7                17.374422   1  99
8                15.241590   1  99
9                16.044532   1  99
10               20.312470   1  99
11               16.488755   1  99
12               15.885396   1  99
13               16.728736   1  99
14               16.859136   1  99
15               16.121300   1  99
16               17.648107   1  99
17               15.984054   1  99
18               19.378223   1  99
19               17.304395   1  99
20               16.439862   1  99
21               22.355852   1  99

When using the entire dataset, we came up with a more accurate result for the mean. We also included all the department. The sample that took only the first rows of the data set did not have every department represented.

In [5]:
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,New Customer,196,1,0,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,prior,2,3,7,15,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
2,473747,1,prior,3,3,12,21,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
3,2254736,1,prior,4,4,7,29,196,1,1,both,Soda,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10
4,431534,1,prior,5,4,15,28,196,1,1,both,Soda,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10
5,3367565,1,prior,6,2,7,19,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
6,550135,1,prior,7,1,9,20,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10
7,3108588,1,prior,8,1,14,14,196,2,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10
8,2295261,1,prior,9,1,16,0,196,4,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10
9,2550362,1,prior,10,4,8,30,196,1,1,both,Soda,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10
10,2968173,15,prior,15,1,9,7,196,2,0,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22
11,1870022,15,prior,17,2,16,8,196,6,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22
12,1911383,15,prior,18,2,11,7,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22
13,2715276,15,prior,21,1,9,7,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22
14,487368,15,prior,22,1,10,14,196,1,1,both,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,22

In [7]:
# adding a column for loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40) & (ords_prods_merge['max_order']>10), 'loyalty_flag']='Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10, 'loyalty_flag']='New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    3826135
Loyal customer      2501034
New customer        1492291
Name: loyalty_flag, dtype: int64

In [11]:
ords_prods_merge.groupby('loyalty_flag').prices.mean()

loyalty_flag
Loyal customer       9.377189
New customer        13.092200
Regular customer    11.381064
Name: prices, dtype: float64

On average, it shows that New customers spend the most on products, and Loyal customers spend the least.

In [12]:
# adding a column for spending flag
ords_prods_merge['mean_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend
0,2539329,1,prior,1,2,8,New Customer,196,1,0,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29,196,1,1,...,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28,196,1,1,...,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797
5,3367565,1,prior,6,2,7,19,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
6,550135,1,prior,7,1,9,20,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797
7,3108588,1,prior,8,1,14,14,196,2,1,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797
8,2295261,1,prior,9,1,16,0,196,4,1,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797
9,2550362,1,prior,10,4,8,30,196,1,1,...,77,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,prior,15,1,9,7,196,2,0,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22,Regular customer,3.980556
11,1870022,15,prior,17,2,16,8,196,6,1,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22,Regular customer,3.980556
12,1911383,15,prior,18,2,11,7,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22,Regular customer,3.980556
13,2715276,15,prior,21,1,9,7,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22,Regular customer,3.980556
14,487368,15,prior,22,1,10,14,196,1,1,...,77,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,22,Regular customer,3.980556

In [14]:
ords_prods_merge.loc[ords_prods_merge['mean_spend']<10,'spending_flag']='Low spender'

In [15]:
ords_prods_merge.loc[ords_prods_merge['mean_spend']>=10,'spending_flag']='High spender'

In [16]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag
0,2539329,1,prior,1,2,8,New Customer,196,1,0,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29,196,1,1,...,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28,196,1,1,...,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
5,3367565,1,prior,6,2,7,19,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,prior,7,1,9,20,196,1,1,...,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797,Low spender
7,3108588,1,prior,8,1,14,14,196,2,1,...,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797,Low spender
8,2295261,1,prior,9,1,16,0,196,4,1,...,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,10,New customer,6.367797,Low spender
9,2550362,1,prior,10,4,8,30,196,1,1,...,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,prior,15,1,9,7,196,2,0,...,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender
11,1870022,15,prior,17,2,16,8,196,6,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22,Regular customer,3.980556,Low spender
12,1911383,15,prior,18,2,11,7,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,22,Regular customer,3.980556,Low spender
13,2715276,15,prior,21,1,9,7,196,1,1,...,7,9.0,Mid range product,Regular busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender
14,487368,15,prior,22,1,10,14,196,1,1,...,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [21]:
ords_prods_merge['days_since_prior_order'].replace('New Customer', 0, inplace=True)

In [22]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender

In [24]:
ords_prods_merge['days_since_prior_order'].dtypes

dtype('float64')

In [25]:
#adding a column for frequency flag
ords_prods_merge['median_days']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_days
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0

In [27]:
ords_prods_merge.loc[ords_prods_merge['median_days']>20,'frequency_flag']='Non-frequent customer'

In [34]:
ords_prods_merge.loc[(ords_prods_merge['median_days']>10) & (ords_prods_merge['median_days']<=20),'frequency_flag']='Regular customer'

In [39]:
ords_prods_merge.loc[(ords_prods_merge['median_days']<=10) & (ords_prods_merge['median_days']>0),'frequency_flag']='Frequent customer'

In [40]:
ords_prods_merge.loc[ords_prods_merge['median_days']==0,'frequency_flag']='New customer'

In [41]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_days,frequency_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [42]:
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer        5467743
Regular customer         1683177
Non-frequent customer     643453
New customer               25087
Name: frequency_flag, dtype: int64

In [43]:
# exporting dataframe to a pickle file
ords_prods_merge.to_pickle(r'C:\Users\kirat\Documents\Career Foundy\Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_final.pkl')